
<div class="container mgntop">
    <h2>Users</h2>         
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>lovely</td>
            <td>singh </td>
            <td>lovely@cdn.com</td>
        </tr>
        <tr>
            <td>rani</td>
            <td>singh</td>
            <td>rani@cdn.com</td>
        </tr>
        <tr>
            <td>puja </td>
            <td>dahayat</td>
            <td>puja@cdn.com</td>
        </tr>
        <tr>
            <td>ankita</td>
            <td>singh</td>
            <td>ankita@cdn.com</td>
        </tr>
        <tr>
            <td>juhi</td>
            <td>rathore</td>
            <td>juhi@cdn.com</td>
        </tr>
        </tbody>
    </table>
</div>
